li span {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
}
.addTodo {
  position: relative;
  padding-bottom: 0px;
  height: 30px;
}
.addText {
  width: 80%;
  height: 30px;
}
.addTodo button {
  height: 35px;
  width: 50px;
}
.addText {
  width: 100px;
}
body {
  padding-top:50px;
  background-color:sliver;
  padding-left: 100px;
}
h1 {
  background-color: blue;
  padding-left: 100px;
  width: 400px;
}
